In [1]:
a = 10
b = 24
result = (a + b)
print(result)

34

In [2]:
1 + 1

2

In [3]:
1 - 1

0

In [4]:
1 / 2.0

0.5

In [5]:
1 // 2.0

0.0

In [6]:
2 ** 3

8

In [7]:
2 + 3 * 5 + 5

22

In [8]:
10 % 3

1

In [9]:
11 % 4

3

In [10]:
var = 12

In [11]:
var

12

In [12]:
var + 5

17

In [13]:
var1 = var + 10

In [14]:
var1

22

In [15]:
var

12

In [16]:
var

12

In [17]:
var1

22

In [18]:
name_of_var =15

In [19]:
name_of_var

15

## Strings

In [21]:
'single quotes'

'single quotes'

In [22]:
"Double quotes"

'Double quotes'

In [23]:
"I can't do this"

"I can't do this"

In [24]:
x = 'hello'

In [25]:
x

'hello'

In [26]:
print(x)

hello

In [27]:
num = 12
name = 'Sam'

In [29]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [30]:
print('My number is {one} and my name is {two}'.format(one = num, two = name))

My number is 12 and my name is Sam

## Indexing Strings

In [31]:
s = 'hello'

In [32]:
s[2]

'l'

In [33]:
s[2:]

'llo'

In [34]:
s[-2:]

'lo'

In [35]:
s[:-2]

'hel'

In [36]:
 a = 'asfsdfdgfdsfg'

In [37]:
a[2:5:2]

'fd'

In [38]:
a[2:7:2]

'fdd'

## List

In [39]:
my_list = ['a', 'b', 'c']

In [40]:
my_list.append('d')

In [41]:
my_list

['a', 'b', 'c', 'd']

In [42]:
print(my_list)

['a', 'b', 'c', 'd']

In [43]:
my_list[2]

'c'

In [44]:
my_list[2] = 'NEW'

In [45]:
my_list

['a', 'b', 'NEW', 'd']

In [46]:
nest = [1,2,[3],4]

In [47]:
nest

[1, 2, [3], 4]

In [48]:
nest[2]

[3]

## Part2

In [49]:
d = {'key1':'value','key2':123}

In [50]:
d['key2']

123

In [51]:
d['key1']

'value'

In [55]:
d = {'k1':[1,2,3]}

In [56]:
d

{'k1': [1, 2, 3]}

In [58]:
d['k1'][2]

3

In [59]:
d = {'k1':{'innerkey':[1,2,3]}}

In [60]:
d['k1']

{'innerkey': [1, 2, 3]}

In [62]:
d['k1']['innerkey']

[1, 2, 3]

In [63]:
True

True

In [64]:
False

False

In [65]:
my_list = [1,2,3]

In [66]:
t = (1,2,3)

In [67]:
t

(1, 2, 3)

In [68]:
my_list[2] = 'New'

In [69]:
my_list

[1, 2, 'New']

In [70]:
t[1] = 'NEW'

TypeError: 'tuple' object does not support item assignment

## SET - Collection of unique elements

In [71]:
{1,2,3}

{1, 2, 3}

In [72]:
{1,2,1,2,3,4,1,2,3}

{1, 2, 3, 4}

In [73]:
set([1,2,3,1,4,2,2,3,3,2,4,4])

{1, 2, 3, 4}

In [74]:
s = {5,6,7}

In [75]:
s.add(8)

In [76]:
s

{5, 6, 7, 8}

In [77]:
2 > 3

False

In [78]:
3 < 3

False

In [79]:
2 > 1

True

In [80]:
1 == 2

False

In [81]:
1 === 2

SyntaxError: invalid syntax (<ipython-input-81-144415c20c0d>, line 1)

In [83]:
1 != 2

True

In [87]:
(1 < 3) and (2 < 4)

True

In [88]:
(1 > 3) and (2 < 1)

False

In [90]:
(1 > 3) or (2 < 1)

False

In [97]:
if 1 > 3:
    print("Welcome")
elif 3 == 3:
    print("Its Time")
else:
    print("Bye")

Its Time